<section class="panel panel-default panel-article marg10-t">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="circle fa fa-search"></i>資料查詢
      </h3>
    </div>
  
    <div class="panel-body">  
      <div class="article-container">
  
        <div class="container">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="row">
                    <div class="col mb6">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" formControlName="ggg" aria-describedby="emailHelp">
                    </div>
                    <div class="col mb6">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col mb6">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="col mb6">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                  </div>                  

                  <div class="row">
                    <div class="col mb6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                            <label class="form-check-label" for="flexCheckIndeterminate">
                              only 0050
                            </label>
                          </div>
                        </div>                    
                  </div>

                <button type="submit" class="btn btn-primary" >送出查詢</button>
              </form>            
          </div>
        
      </div>
   
    </div>
  </section>
  
  <div class="card">
    <div  style="padding:20px;">
  

  
    
      <!-- <pre>Active: {{ active }}</pre> -->
    </div>
  </div>
  